/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(246, 239, 239);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
    

}
.titulo{
    font-size: 40px;
    text-align: center;
}